<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="1;url={{redirect_url}}">
        <script type="text/javascript">
            window.location.href = "{{redirect_url}}"
        </script>
        <title>Page Redirection to {{redirect_slug}}</title>
    </head>
    <body>
        <p>
            If you are not redirected automatically, you should go to  
            <a href="{{redirect_url}}">{{redirect_slug}}</a>
        </p>
    </body>
</html>
